<?xml version="1.0" encoding="UTF-8"?>
<!-- prudent 设置为true 则不同jvm可以的fileAppender可以往同一文件输出内容 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/bases.xml"/>
	<contextName>hooktools</contextName>
	
    <jmxConfigurator/>

    <property name="log_dir" value="./logs" />
    <property name="maxHistory" value="30"/>

	<!-- 控制台 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level %c:%L - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<Target>System.out</Target>
		<encoder>
			<pattern>[hooktools] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level	%logger{80} [%file : %line] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 全部日志（全量） -->
	<appender name="ALL_LOGS" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level %c:%L - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<file>logs/hooktools/all.log</file>
		<append>true</append>
		<encoder>
			<pattern>[hooktools] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} [%file : %line] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 全部日志（每天一个） -->
	<appender name="ALL_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level %c:%L - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<encoder>
			<pattern>[hooktools] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} [%file : %line] %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/hooktools/all.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- ERROR日志 -->
	<appender name="ERR_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level %c:%L - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<file>logs/hooktools/err.log</file>
		<append>true</append>
		<encoder>
			<pattern>[hooktools] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} [%file : %line] %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>logs/hooktools/err.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>


	<!-- Special Log Filter -->
    <logger name="java.sql" level="DEBUG" />
    <logger name="org.springframework" level="INFO" />
    <logger name="com.ibatis" level="DEBUG" />

	<!-- OneKey Swith -->
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ALL_LOGS" />
		<appender-ref ref="ALL_LOG" />
		<appender-ref ref="ERR_LOG" />
	</root>
</configuration>